*{
	
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}



.logo-image-small{
	padding-left:40px;
	
}

.sidebar ul a{
	display:block;
	
	color:#666666;
	line-height:60px;
	font-size:20px;
	box-sizing:border-box;
	padding-left:40px;
	
	text-decoration:none;
	border-bottom: 2px solid #EAF2F8;
	
	transition:.4s;
}
span{
	font-size:22px;
	color:#666666;
	text-align:center;
	line-height:60px;
    padding-left:5px;
   
	
}


.sidebar ul li:hover a{
	padding-left:50px;
	color:blue;
}
.accordion a big{

    text-decoration: none;

 }

ul li a.active{

	color:red;
}

.activeMenu a.active{

	color:yellow;
}




